@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BEM-VINDO!!!</h1>
    <br /><br />
    <h2>Neste exemplo mostraremos um CRUD utilizando MVC.</h2>
    <br />
    <h3>CRUD de Cadastro de Pessoas em ASP.NET</h3>
</div>
